/*
--------------------------------------
Animations
--------------------------------------
*/
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
			 opacity: 1;
			 -webkit-transform: translateY(0);
		 }
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}



/*
--------------------------------------
Default tags
--------------------------------------
*/
html {
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	overflow: hidden;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #e35c4a;
	font-size: 1em;
	overflow: hidden;
}
a, a:hover {
	text-decoration: none;;
}
h1, h2, h3 {
	line-height: normal;
}

/*
--------------------------------------
Google maps
--------------------------------------
*/
#map-canvas {
	height: 100%;
	z-index: 9;
}
#map-canvas img {
	max-width: none;
	vertical-align: baseline;
}

/*
--------------------------------------
Destination widget
--------------------------------------
*/
#destination {
	z-index: 10;
	background-color: #fff;
	margin: -168px auto 0 auto;
	height: 168px;
	width: 100%;
	max-width: 420px;
	position: relative;
	border-radius: 3px 3px 0 0;

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#destination.hidden {
	margin-top: 0;
}
#destination h1 {
	color: #2C3E50;
	margin: 0;
	font-size: 160%;
	display: inline-block;
}
#destination h2 {
	color: #BDC3C7;
	margin: 0;
	font-size: 90%;
	display: block;
	white-space: nowrap;
}
#destination h1 .approximate {
	font-size: 70%;
}
#destination > div:first-child {
	padding: 20px;
}
#destination .top-line {
	min-height: 53px;
}
#destination .top-line > div {
	float: left;
	max-width: 315px;
	max-height: 66px;
	overflow: hidden;
}
#destination .top-line > div:first-child {
	padding-right: 10px;
}
#destination .top-line img {
	display: inline-block;
	border-radius: 100px;
	width: 54px;
}
#destination .bottom-line {
	overflow: hidden;
}
#destination .bottom-line > * {
	color: #fff;
	font-size: 80%;
	background-color: #E74C3C;
	float: left;
	width: 120px;
	height: 40px;
	padding: 23px 10px 17px;
	text-align: center;
	line-height: 2em;
}
#destination .bottom-line > *:first-child {
	background-color: #F1C40F;
}
#destination .bottom-line > *:last-child {
	background-color: #2ECC71;
}

/*
--------------------------------------
Ikon fix
--------------------------------------
*/
.fui-time-16:before {
	display: block;
	font-size: 16px;
}

.fui-location-16:before {
	display: block;
	font-size: 16px;
}

.fui-menu-16:before {
	display: block;
	font-size: 16px;
}

/*
--------------------------------------
Standard layout definitions
--------------------------------------
*/
.page {
	width: 100%;
	height: 480px;
	margin: -480px auto 0 auto;
	position: relative;
	/*left: 1%;
	right: 1%;*/
	z-index: 12;
	background: #fff;
	max-width: 420px;
	border-radius: 3px 3px 0 0;

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	/*display: block !important;*/
}
.page.hidden {
	margin-top: 0;
	display: none;
	/*display: none !important;*/
}
.page > div {
	padding: 20px;
}
.page h2 {
	margin: 0 0 10px 0;

	/* Too long text shortening... */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*
--------------------------------------
Settings layout
--------------------------------------
*/
#settings label {
	display: block;
}
#settings input[type="radio"]{
	width: 10px;
	display: none;
}
#settings h2 {
	margin: 0 0 10px 0;
}
#settings .legal {
	margin-top: 80px;
}
/*
--------------------------------------
Term of use layout
--------------------------------------
*/
#legal .btn {
	margin-top: 23px;
}
/*
--------------------------------------
Error page
--------------------------------------
*/
#error .btn {
	margin-top: 195px;
}
/*
--------------------------------------
Welcome layout
--------------------------------------
*/
#install h1,
#install h2 {
	position: relative;
	z-index: 12;
	width: 325px;
	margin-left: 20px;

	color: rgba(255, 255, 255, 0.8);
	font-size: 72px;
	font-weight: bold;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}
#install h1 {
	margin-top: 200px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	-webkit-font-smoothing: subpixel-antialiased !important;

	-webkit-animation:fadeInRight 0.5s ease both;
	-moz-animation:fadeInRight 0.5s ease both;
	-ms-animation:fadeInRight 0.5s ease both;
}
#install h2 {
	font-size: 26px;
	font-weight: 100;

	-webkit-animation:fadeInRight 0.5s ease both;
	-moz-animation:fadeInRight 0.5s ease both;
	-ms-animation:fadeInRight 0.5s ease both;

	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
}
#install a {
	margin: 20px;
	width: 150px;
	position: relative;
	z-index: 13;

	background: transparent;
	border: 1px solid rgba(255,255,255,0.8);

	-webkit-animation:fadeInRight 0.5s ease both;
	-moz-animation:fadeInRight 0.5s ease both;
	-ms-animation:fadeInRight 0.5s ease both;

	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
}
#install a:hover {
	background: rgba(255,255,255,0.8);
	color: #e35c4a;
}
#install a.already {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
}
#install {
	position: absolute;
	width: 800px;
	height: 480px;
	top: 20%;
	left: 50%;
	margin-top: -240px;
	margin-left: -400px;
	z-index: 11;
}
#install .phone {
	background-image: url(../images/welcome-1100x990-compressed.png);
	background-repeat: no-repeat;
	background-position: center 100px;

	width: 1100px;
	height: 1000px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 0px;
	z-index: 10;

	-webkit-animation:fadeInDown 0.5s ease both;
	-moz-animation:fadeInDown 0.5s ease both;
	-ms-animation:fadeInDown 0.5s ease both;

	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;

}
@media (max-width: 810px) {
	#install #installer {
		width: 100%;
		margin-left: -50%;
	}
}

/*
--------------------------------------
For Nokia Lumia 800
--------------------------------------
*/
@media (max-width: 480px) {
	#destination .bottom-line > * {
		width: 34%;
		padding-left: 0;
		padding-right: 0;
	}
	#destination .bottom-line > *:first-child {
		width: 33%;
	}
	#destination .bottom-line > *:last-child {
		width: 33%;
	}
}

/*
--------------------------------------
Retina-specific devices
--------------------------------------
*/
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {
	#destination .bottom-line > * {
		width: 108px;
		padding-left: 0;
		padding-right: 0;
	}
	#destination .bottom-line > *:first-child {
		width: 106px;
	}
	#destination .bottom-line > *:last-child {
		width: 106px;
	}
	#destination .top-line > div {
		max-width: 215px;
	}
	.page {
		max-width: 100%;
	}
}
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape) {
	.page {
		max-width: 100%;
	}
}

/*
--------------------------------------
For BIG desktop
--------------------------------------
*/
@media (min-width: 840px) {
	#destination {
		max-width: 840px;
		width: 840px !important;
		height: 97px;
		margin-top: -97px;
	}
	#destination .top-line {
		float: left;
	}
	#destination .bottom-line {
		float: right;
	}
	#destination .bottom-line > * {
		height: 57px;
		padding: 35px 10px 5px;
	}
	#destination .bottom-line > *:last-child {
		border-radius: 0 3px 0 0;
	}
	#settings .legal {
		margin-top: 132px;
	}
}
